@model BLL.DAL.Director

@{
ViewData["Title"] = "Edit Director";
}

<h2 class="text-center">Edit Director</h2>

<div class="card form-card">
    <div class="card-body">
        <form asp-action="Edit" asp-controller="Directors" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <input asp-for="IsRetired" class="form-check-input"/>
                <label class="form-check-label" for="IsRetired">Is Retired</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
