@model BLL.DAL.Genre

@{
ViewData["Title"] = "Create Genre";
}

<h2 class="text-center">Create Genre</h2>

<div class="card form-card">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <hr />
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
